@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  margin: 0;
}

body {
  font-family: "San Francisco";
  color: white;
}

.absoluteContainer {
  position: relative;
}

.title {
  font-size: 19vh;
  text-align: center;
  position: absolute;

  top: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: #ffffff;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.page-main {
  flex-grow: 1;
  background: #000000;

  padding-top: 280px;
  background-image: url("https://www.apple.com/newsroom/images/2023/09/apple-unveils-iphone-15-pro-and-iphone-15-pro-max/article/Apple-iPhone-15-Pro-lineup-hero-230912_Full-Bleed-Image.jpg.large.jpg");

  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer {
  background: #282727;
  z-index: 99999;
}
